<!DOCTYPE html>
<html>
<head>
  <title>Rutgers Events Listing</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/myCSS.css">
  <script src="https://www.gstatic.com/firebasejs/3.4.0/firebase.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
  <p class="title">RU Events</p>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#list" style="border:none;background-color:#BB0022;color:white">List View</a></li>
    <li><a data-toggle="tab" href="#mapview" style="border:none;background-color:#BB0022;color:white">Map View</a></li>
    <li><a data-toggle="tab" href="#posts" style="border:none;background-color:#BB0022;color:white">Posts</a></li>
  </ul>
  <div class="tab-content">
    <div id="list" class="tab-pane fade in active">
      <section id='event_box' class='container'>
        <% for(var i=0; i<events_view.length; i++) {%>
        <div class="row item">
          <div class="col-sm-2">
            <img class='img-responsive img-rounded min-size' src=<%=events_view[i].img_url%>/>
            <br>
          </div>
          <div class='col-sm-10'>
            <h4 class='nomargin'><%=events_view[i].name%></h4>
            <span class='addtocalendar atc-style-button-icon'>
              <a class='atcb-link' tabindex='1'>
                <img src='cal.png' width='22'>
              </a>
            </span>
            <em class='time'><%=events_view[i].start_time%></em>
            <br>
            <span class='glyphicon glyphicon-map-marker' aria-hidden='true'/>
            <span class='loc'><%=events_view[i].location%></span>
            <br>
            <span class='glyphicon glyphicon-tags' aria-hidden='true'/>
            <br>
            <a href='#' onclick='$(this).parent().parent().next().next().toggle(); ($(this).text()[0]==\"V\") ?"
            + " $(this).text(\"Hide description\") : $(this).text(\"View description\");return false;' id='ref'>View Description</a>
          </div>
        </div>
        <br>
        <div class='div'><%=events_view[i].description%></div>
        <br>
        <hr>
        <% } %>
      </section>
    </div>
    <div id="mapview" class="tab-pane fade">
      <div class='container'>
        <div id="map"></div>
      </div>
    </div>
    <div id="posts" class="tab-pane fade">
      <a id="add_post" class="btn btn-success" href="https://www.facebook.com/rufreefood">POST EVENT</a>
      <section id='post_box' class='container-fluid'></section>
    </div>
  </div>
  <div class="text-center myfooter">
    <a href="about.html">About</a>
    | 
    <a href="mailto:rufreefood.club@domainsbyproxy.com">Contact Us</a>
    |  
    <a href="https://www.youtube.com/watch?v=41WdF9oCFDQ">Video Guide</a>
  </div>
</body>

</html>
